*{box-sizing: border-box;}

main {
  width: 400px;
  margin: auto;
  text-align: center;
}


.jatekter {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  margin: 20px;
}

.jatekter div {
  aspect-ratio: 1; /* oldalarány */
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 35px;
  cursor:grab;
}


.nevek{
  border:1px solid gray;
  border-radius: 5px;
  padding: 10px;
}

.kovetkezo{
  margin: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  color:green;
  font-weight: bold;
}

.flex-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nevek {
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.elso {
  display: flex;
  align-items: center;
  gap: 5px;
}

.masodik {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nyertes{
  margin: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  color:purple;
}